/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* BASE */

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to right, #20002c, #cbb4d4);
}

.container {
    max-width: 60rem;
    margin: 0 auto;
}

/* TYPOGRAPHY */

body {
    font-family: 'Cairo', sans-serif;
    color: #efefef;
    line-height: 1;
}

.heading {
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.heading-sec {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.credits {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-align: right;
}

/* BUTTONS */

.btn {
    border: none;
    background-color: transparent;
    text-transform: uppercase;

    &--start {
        float: right;
        font-size: 2.5rem;
    }
}

/* LINKS */

a {
    color: inherit;
}

/* MENU */

.header {
    margin: 3rem 0 1rem 0;

    &__menu {
        margin-top: 2rem;
        padding: 1rem 0;
        background-color: #efefef;
        border-radius: 5px;
    }

    &__settings {
        padding: 1rem 2rem;
        margin-bottom: 1rem;
        background: linear-gradient(to right, #20002c, #cbb4d4);
    }

    &__settings-group {
        display: inline-block;
    }

    &__setting {
        display: inline-block;
        font-size: 2.5rem;
        color: #efefef;
        text-transform: uppercase;
        margin-right: 1rem;
    }

    &__radio {
        display: none;

        &:checked+label {
            background-color: #efefef;
            color: #333333;
        }
    }

    &__label {
        font-size: 2.5rem;
        color: #efefef;
        padding: 0 1rem;
        transition: all .2s;
        border-radius: 10px;
    }

    &__displayer {
        padding: 0 2rem;
    }

    &__timer {
        display: inline-block;
        font-size: 2.5rem;
        color: #333333;
        margin-right: 3rem;
    }

    &__message {
        display: inline-block;
        font-size: 2rem;
        color: #333333;
    }
}

/* SQUARES */

.squares {
    width: 100%;
    display: none;
}

.square {
    width: 16%;
    padding-bottom: 16%;
    float: left;
    margin: .33%;
    
    position: relative;
    
    perspective: 40rem;
    -moz-perspective: 40rem;
    
    &__side {

        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        padding-bottom: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        border-radius: 5px;
        transition: all .6s;

        &--front {
            background-color: #efefef;
        }

        &--back {
            background-size: contain;
            background-position: 50%, 50%;
            transform: rotateY(-180deg);
        }
    }
}

/* GALLERY */

.gallery {
    display: none;
    width: 80%;
    margin: 0 auto;

    &__window {
        height: 30rem;
        margin-top: 2rem;
        position: relative;
    }

    &__img {
        height: 30rem;
        display: block;
        margin: 0 auto;
    }

    &__credit {
        margin-top: 2rem;
    }

    &__left {
        position: absolute;
        top: 0;
        left: -5rem;
        height: 100%;
        width: 5rem;
    }
    &__right {
        position: absolute;
        top: 0;
        right: -5rem;
        height: 100%;
        width: 5rem;
    }

    &__sign {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 6rem;
    }

    &--displayed {
        display: block;
    }
}

/* FOOTER */

.footer {
    margin-bottom: 2rem;

    & p {
        text-align: right;
        font-size: 1.2rem;
        padding-right: 1rem;
    }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 900px) {
    html {
        font-size: 56.25%;
    }
}

@media only screen and (max-width: 640px) {
    html {
        font-size: 50%;
    }

    
}

@media only screen and (max-width: 470px) {

    .header {
        &__settings-group {
            display: block;

            &:last-child {
                margin-top: 1.5rem;
            }
        }

        &__setting {
            font-size: 2.2rem;
        }

        &__label {
            font-size: 2.2rem;
        }

        &__timer {
            font-size: 2.2rem;
            margin-right: 1.5rem;
        }
    
        &__message {
            font-size: 1.6rem;
        }
    }

    .gallery {
        &__window {
            height: 20rem;
        }
        &__img {
            height: 20rem;
        }
    }

    .heading {
        font-size: 2.8rem;
        letter-spacing: .1rem;
    }
    
    .credits {
        font-size: 1.2rem;
    }

    .btn {
    
        &--start {
            font-size: 2rem;
        }
    }
}